*, *:hover, *::before, *::after {
    background-color: #121212;
    color: #eeeeee;
    box-sizing: border-box;
    text-align: center;
}

.App {
    display: flex;
    flex-direction: column;
    padding: 0px 40px;
}

.top-container {
    display: flex;
    padding: 20px;
    justify-content: center;
    align-items: center;
}

.help-widget {
    position: absolute;
    right: 30px;
}

.header-title {
    position: relative;
    font-size: 36px;
    font-weight: bolder;
}

/* Catalog */
.catalog-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    grid-gap: 20px;
}

.game-title {
    margin-top: 0.2em;
}

.game-title:hover, .game-banner:hover {
    cursor: pointer;
}

.game-banner {
    object-fit: scale-down;
    width: 100%;
}

.game {
    /* position: relative; */
    background-color: transparent;
    transition: opacity 200ms ease-in-out;
}

.game:hover {
    opacity: 0.5;
}
/* 
.game::after {
    opacity: 0;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(18, 18, 18, 0.5);
    transition: opacity 200ms ease-in-out;
}

.game:hover::after {
    opacity: 1;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(18, 18, 18, 0.5);
} */

/**/

/* Game */

.game-out-actions {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    background: transparent;
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 30px;
}

.catalog-return button svg, .restart-game button svg {
    background: transparent;
    margin-right: 5px;
}

.catalog-return button, .restart-game button {
    opacity: 0.6;
    background: transparent;
    gap: 5px;
    font-size: 24px;
    font-weight: bolder;
    border: none;
    outline: none;
    cursor: pointer;
}

.catalog-return button:hover, .restart-game button:hover {
    opacity: 0.7;
}

/**/

/* Game win message */

.win-message {
    background-color: transparent;
    width: 100%;
    text-align: center;
    margin: 0;
    font-weight: bold;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -40%);
    -ms-transform: translate(-50%, -50%);
    z-index: -1000;
    text-shadow: 0 0 10px #000;
    animation: enlarge-text 2s forwards cubic-bezier(0, -1.32, 0.80, 1.06);
}

@keyframes enlarge-text {
    0% {
        font-size: 1em;
    }
    100% {
        font-size: 10em;
    }
}

@media (max-width: 600px) {
    @keyframes enlarge-text {
        0% {
            font-size: 1em;
        }
        100% {
            font-size: 5em;
        }
    }
}

@media (max-width: 359px) {
    @keyframes enlarge-text {
        0% {
            font-size: 1em;
        }
        100% {
            font-size: 2em;
        }
    }
}

/**/

@media (max-width: 600px) {
    .App {
        padding: 0px 30px;
    }
    .catalog-container {
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }
    .game-out-actions {
        margin: 10px;
    }
}

@media (max-width: 359px) {
    .App {
        padding: 0px 20px;
    }
    .catalog-container {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }
}